<div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
  <div class="card" id="kt_chat_messenger">
    <div class="card-header" id="kt_chat_messenger_header">
      <div class="card-title">
        <div class="symbol-group symbol-hover"></div>
        <div class="d-flex justify-content-center flex-column me-3">
          <a
            class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 mb-2 lh-1 cursor-pointer"
          >
            Brian Cox
          </a>

          <div class="mb-0 lh-1">
            <span
              class="badge badge-success badge-circle w-10px h-10px me-1"
            ></span>
            <span class="fs-7 fw-bold text-gray-400">Active</span>
          </div>
        </div>
      </div>

      <div class="card-toolbar">
        <div class="me-n3">
          <button
            class="btn btn-sm btn-icon btn-active-light-primary"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-flip="top-end"
          >
            <i class="bi bi-three-dots fs-2"></i>
          </button>
          <app-dropdown-menu1></app-dropdown-menu1>
        </div>
      </div>
    </div>
    <app-chat-inner></app-chat-inner>
  </div>
</div>
